O campo txtDescricao informa o tipo de despesa. Quais são os valores presentes no DataFrame? Ordene de forma decrescente o vlrLiquido de cada partido para os gastos com txtDescricao igual a FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTA.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('reembolso-2019-completo.csv', dtype={'txtCNPJCPF': str, 'cnpj': str})

In [3]:
df.txtDescricao.unique()

array(['FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR',
       'CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.',
       'DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.',
       'ASSINATURA DE PUBLICAÇÕES',
       'MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE PARLAMENTAR',
       'COMBUSTÍVEIS E LUBRIFICANTES.', 'PASSAGEM AÉREA - REEMBOLSO',
       'LOCAÇÃO OU FRETAMENTO DE VEÍCULOS AUTOMOTORES',
       'HOSPEDAGEM ,EXCETO DO PARLAMENTAR NO DISTRITO FEDERAL.',
       'PASSAGENS TERRESTRES, MARÍTIMAS OU FLUVIAIS', 'TELEFONIA',
       'SERVIÇOS POSTAIS', 'PASSAGEM AÉREA - RPA',
       'SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO',
       'PASSAGEM AÉREA - SIGEPA',
       'SERVIÇO DE SEGURANÇA PRESTADO POR EMPRESA ESPECIALIZADA.',
       'PARTICIPAÇÃO EM CURSO, PALESTRA OU EVENTO SIMILAR',
       'LOCAÇÃO OU FRETAMENTO DE AERONAVES',
       'LOCAÇÃO OU FRETAMENTO DE EMBARCAÇÕES'], dtype=object)

In [4]:
f = df.txtDescricao == 'FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR'

In [5]:
df[f].groupby('sgPartido')['vlrLiquido'].sum().sort_values(ascending=False).to_frame()

               vlrLiquido
sgPartido
PT              293714.26
PL              257172.18
PP              177573.28
PSD             169884.80
UNIÃO           157503.94
REPUBLICANOS    141924.52
MDB             115218.16
PSDB             91264.60
PDT              67359.06
PSC              38583.38
CIDADANIA        37982.56
PROS             37342.52
PATRIOTA         21887.50
PODE             20539.32
SOLIDARIEDADE    18073.76
PSB              16030.64
NOVO             15777.86
DEM               9284.12
PCdoB             7686.28
PR                5495.42
PSOL              5174.12
AVANTE            3990.02
PTB               2681.40
PRB               2395.12
PSL               2246.62
PV                2038.14
PATRI             1412.52
PPS                997.00
PHS                367.40
REDE               196.24

In [6]:
df.groupby(['txtCNPJCPF', 'txtFornecedor'])['vlrLiquido'].sum().sort_values(ascending=False)[:10].to_frame()

                                                                vlrLiquido
txtCNPJCPF     txtFornecedor
02012862000160 Cia Aérea - TAM                                 49845733.08
07575651000159 Cia Aérea - GOL                                 44014082.60
09296295000160 Cia Aérea - AZUL                                12881535.32
07319323000191 PANTANAL VEÍCULOS LTDA                           4362549.04
02012862000160 TAM LINHAS AEREAS S/A.                           2344253.56
02575829000148 Cia Aérea - AVIANCA                              2275601.26
23721017000133 T2 COMUNICACAO, VIDEO E PRODUCOES EIRELI - EPP   2194668.00
00000000000001 CELULAR FUNCIONAL                                1745706.86
02558157000162 TELEFÔNICA BRASIL S.A. VIVO                      1721626.30
02610235000120 DMD Gestão Administrativa LTDA - ME              1610000.00

Aqui eu pensei em separar a coluna de CNPJ em duas: Raiz e Sufixo. Assim consegui agrupar os cnpjs das empresas com base na raiz, agrupando as filiais.

In [9]:
#Selecionando só registros com CNPJ

df_cnpj = df[df['txtCNPJCPF'].str.len() > 11]

# Separando raiz do cnpj

df_cnpj['raiz_cnpj'] = df_cnpj['txtCNPJCPF'].str[:8]
df_cnpj['sufixo_cnpj'] = df_cnpj['txtCNPJCPF'].str[-6:]

C:\Users\Luiz\AppData\Local\Temp\ipykernel_7236\592446289.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cnpj['raiz_cnpj'] = df_cnpj['txtCNPJCPF'].str[:8]
C:\Users\Luiz\AppData\Local\Temp\ipykernel_7236\592446289.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cnpj['sufixo_cnpj'] = df_cnpj['txtCNPJCPF'].str[-6:]

In [14]:
df_novo = df_cnpj.groupby(['raiz_cnpj'])['vlrLiquido'].sum().sort_values(ascending=False)[:20].to_frame()

In [15]:
df_novo.shape

(20, 1)